html {
  padding: 0;
}

.optional {
  float: left;
  width: 173px;
  margin-right: 10px;
}

textarea {
    resize: none;
}

/** Map for create a route **/
.createRoute {
    height:20em;
    width:20em;
}

/*** TOP NAV ***/
.page-header {
  padding-left: 2em;
  color: #b8e65c
}

.navbar-default {
  background-color: #f8f8f8 !important;
}

.navbar-brand {
  color: #b8e65c !important;
}

.nav {
  text-align: center;
  margin: 0 auto;
}

.navLink {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
}

.register {
  margin-left: 3em;
}

/*** HOME PAGE ***/
#carousel-example-generic {
  height: 80%;
}

#carousel-example-generic img {
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
}


/*** ARTICLE AREA ***/
#createHeader {
    text-align: center;
}

input[type=checkbox] {
    margin: 0 auto !important;
}

article {
  padding-bottom: 2em;
}

.current {
  color: #b8e65c;
}

/*** PROFILE ***/
.userAvatar {
  float: left;
  width: 200px;
  height: 200px;
  background-color: #c9f9a5;
  margin-right: 20px;
  margin-bottom: 20px;
}

.userDisplayName {
  font-weight: bold;
  font-size: 2em;
}

.userActivities {
  font-size: 1.5em;
}

.userAboutMe {
  clear: both;
  margin-bottom: 20px;
}

.userAboutMe h1 {
  font-size: 2em;
  font-weight: bold;
}


/*** LISTS (INSIDE ARTICLE AREA) ***/
.bar {
  height: 40px;
  background-color: #7f7f7f;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px 5px 5px 20px;
}

.listItem {
  border-bottom: 1px solid #b6b6b6;
  padding: 20px 0px 20px 0px;
}

.listThumb {
  float: left;
  width: 140px;
  height: 140px;
  background-color: #c9f9a5;
  margin-right: 20px;
}

.listDetails {
  float:left;
}

.listHead {
  font-weight: bold;
  font-size: 1.9em;
}

.listInfo {
  font-size: 1.25em;
}

.listDifficulty {
  font-weight: bold;
  font-size: 1.25em;
}

.listJoin {
  float: right;
  font-weight: bold;
  text-align: center;
}

.numberJoined {
  width: 120px;
  height: 100px;
  background-color: #d0e4c1;
}

.number {
  font-size: 3.5em;
  padding: 0px;
  margin: 0px;
}

.listButton {
  float: right;
  clear: right;
  text-align: center;
  font-weight: bold;
  width: 120px;
  height: 40px;
  background-color: #4c9a11;
  color: #fff;
  padding: 5px;
  font-size: 1.25em;
}

.listButton:hover {
  background-color: #356310;
  cursor: pointer;
}

.userLinks {
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 20px;
}


/*** ASIDE(SIDEBAR) AREA ***/

aside {
  padding: 1em;
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  margin-bottom: 2em;
}

.media-object {
  max-width: 84px;
}

.carousel-inner img {
  overflow: hidden;
}

.basicModal-content {
  margin: 1em !important;
  border: 0.5px solid black;
}

.modalLogIn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.logInModal {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.description {
    text-align: left !important;
}

.basicForm input, .basicForm button, .basicForm label, .basicForm textarea, .basicForm select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  text-align: center;
}

#new-user-index input, #new-user-index button {
  text-align:center;
  margin: 0 auto;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  display: block;
}


/*** FOOTER ***/
footer {
  padding: 1em;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
}

.footer {
  display:inline-block;
  color: #777;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-right: 1px solid #e7e7e7;
}

.footer_links {
  text-align: left;
  border: 0.1em transparent solid;
  display: block;
  color: #777;
}

.footer_links:hover {
  color: #777;
}

.route-nav {
  display: inline;
}

.pagination {

}

.social_link {
  text-align: center;
  margin: 0 auto;
  max-width: 2em;
  display: inline-block;
}

.page_info {
  padding: 1em;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-bottom: none;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.content-default {
  padding: 1em;
}

#map-canvas {
    height:40em;;
    width:100%;
    margin: 0 auto;
    padding: 1em;;
}

/***** LOGIN/REGISTER FORM VALIDATION  ***/

input:focus:invalid {
  background-color: #CCCCCC;
  outline: 1px solid red;
}

input:valid {
 outline: 1px solid green;
}

input:required {
    border: 1px solid aliceblue;
}

.badForm,
.error {
    background: aliceblue;
    color: #cc3300;
    font-weight: normal;
}

.modalRegister h2 {
    text-align: center;
}

.dropdown:hover .dropdown-hover {
display: block;
}

/*** RESPONSIVE (@MEDIA) STYLES ***/

@media (max-width: 768px) {
  .userDisplayName {
    clear: both;
  }
  .listJoin {
    float: left;
    clear: both;
  }
  .listButton {
    float: left;
    clear: both;
  }

}
