html{
    padding: 0;
}

.page-header{
    padding-left:2em;
    color: #b8e65c
}

.navbar-default{
    background-color: #f8f8f8 !important; 
}

.navbar-brand{
    color: #b8e65c !important;
}

.nav{
    text-align:center;
    margin: 0 auto;

}

.navLink{
    padding-left:1em;
    padding-right:1em;
    margin:0 auto;
}

.sign_in{
    margin-left:3em;
}

.dropdown:hover .dropdown-hover{
    display:block;
    
}
#carousel-example-generic{
    height:50em;    
}

#carousel-example-generic img {
    max-height:100%;
    min-width: 100%;
}

article{
    padding-bottom:2em;
}

.current{
    color: #b8e65c;
}

aside{
    padding: 1em;
    border: 1px solid #e7e7e7;
    background-color:#f8f8f8;
    margin-bottom:2em;
}

.media-object{
    max-width:84px;
}

p{
    text-align:center;
}

.carousel-inner img{
    overflow:hidden;
}

#new-user-index input{
        text-align:center;
        margin: 0 auto;
        margin-top:.25em;
        margin-bottom:.25em;
        display: block;
    }

#new-user-index button{
        text-align:center;
        margin: 0 auto;
        margin-top:.25em;
        margin-bottom:.25em;
        display: block;
    }

.social_link{
    text-align:center;
    margin:0 auto;
    max-width:2em;
    display:inline-block;
}

footer{
    margin: 0 !important;
    margin-top:4em !important;
    padding: 1em;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}

.footer{
    display:inline-block;
    color:#777;
    padding-right: .5em;
    padding-left: .5em;
    border-right: 1px solid #e7e7e7;
}

.footer_links{
    text-align:center;
    border: .1em transparent solid;
    display:block;
    color:#777;
}

.footer_links:hover{
    color:#777;
}

.route-nav{
    display:inline;
}

.pagination{
    
}

.page_info{
    padding:1em;
    background-color:#f8f8f8;
    border: 1px solid #e7e7e7;
    border-bottom: none;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.content-default{
    padding:1em;
}